[global]
refresh=10
check_update=False
history_size=1200

[outputs]
max_processes_display=25

[quicklook]
disable=False
list=cpu,mem,load
bar_char=|
cpu_careful=50
cpu_warning=70
cpu_critical=90
mem_careful=50
mem_warning=70
mem_critical=90
swap_careful=50
swap_warning=70
swap_critical=90
load_careful=70
load_warning=100
load_critical=500

[system]
disable=False

[cpu]
disable=False
total_careful=65
total_warning=75
total_critical=85
total_log=True
user_careful=50
user_warning=70
user_critical=90
user_log=False
system_careful=50
system_warning=70
system_critical=90
system_log=False
steal_careful=50
steal_warning=70
steal_critical=90

[percpu]
disable=False
max_cpu_display=4
user_careful=50
user_warning=70
user_critical=90
iowait_careful=50
iowait_warning=70
iowait_critical=90
system_careful=50
system_warning=70
system_critical=90

[gpu]
disable=False
proc_careful=50
proc_warning=70
proc_critical=90
mem_careful=50
mem_warning=70
mem_critical=90
temperature_careful=60
temperature_warning=70
temperature_critical=80

[mem]
disable=False
careful=50
warning=70
critical=90

[memswap]
disable=False
careful=50
warning=70
critical=90

[load]
disable=False
careful=0.7
warning=1.0
critical=5.0

[network]
disable=False
rx_careful=70
rx_warning=80
rx_critical=90
tx_careful=70
tx_warning=80
tx_critical=90
hide_no_up=True
hide_no_ip=True
hide_zero=False

[ip]
disable=False
public_disabled=True
public_refresh_interval=300
public_api=https://ipv4.ipleak.net/json/
public_field=ip
public_template={continent_name}/{country_name}/{city_name}

[connections]
disable=True
nf_conntrack_percent_careful=70
nf_conntrack_percent_warning=80
nf_conntrack_percent_critical=90

[wifi]
disable=False
careful=-65
warning=-75
critical=-85

[diskio]
disable=False
hide=loop.*,/dev/loop.*
hide_zero=False

[fs]
disable=False
hide=/boot.*,.*/snap.*
careful=50
warning=70
critical=90

[irq]
disable=True

[folders]
disable=False

[cloud]
disable=True

[raid]
disable=True

[smart]
disable=True

[hddtemp]
disable=False
host=127.0.0.1
port=7634

[sensors]
disable=False
hide=unknown.*

[processcount]
disable=False

[processlist]
disable=False
cpu_careful=50
cpu_warning=70
cpu_critical=90
mem_careful=50
mem_warning=70
mem_critical=90
nice_warning=-20,-19,-18,-17,-16,-15,-14,-13,-12,-11,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
status_ok=R,W,P,I
status_critical=Z,D

[ports]
disable=False
refresh=30
timeout=3
port_default_gateway=False

[vms]
disable=True
max_name_size=20
all=False

[containers]
disable=False
max_name_size=20
all=False

[amps]
disable=False

[alert]
disable=False

[serverlist]

[passwords]

[graph]
path=/tmp/glances
generate_every=0
width=800
height=600
style=DarkStyle

[influxdb3]
host=http://localhost:8181
org=nicolargo
database=glances
token=PUT_YOUR_INFLUXDB3_TOKEN_HERE

[amp_dropbox]
enable=false
regex=.*dropbox.*
refresh=3
one_line=false
command=dropbox status
countmin=1

[amp_python]
enable=false
regex=.*python.*
refresh=3
countmax=20

[amp_conntrack]
enable=false
refresh=30
one_line=false
command=sysctl net.netfilter.nf_conntrack_count && sysctl net.netfilter.nf_conntrack_max

[amp_nginx]
enable=false
regex=\/usr\/sbin\/nginx
refresh=60
one_line=false
status_url=http://localhost/nginx_status

[amp_systemd]
enable=false
regex=\/lib\/systemd\/systemd
refresh=30
one_line=true
systemctl_cmd=/bin/systemctl --plain

[amp_systemv]
enable=false
regex=\/sbin\/init
refresh=30
one_line=true
service_cmd=/usr/bin/service --status-all
