POSTGRES_DATA=

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

POSTGRES_INITDB_ARGS='--data-checksums'

IMMICH_DB_DATABASE=immich
IMMICH_DB_USERNAME=immich
IMMICH_DB_PASSWORD=

FORGEJO_DB_DATABASE=forgejo
FORGEJO_DB_USERNAME=forgejo
FORGEJO_DB_PASSWORD=

NEXTCLOUD_DB_DATABASE=nextcloud
NEXTCLOUD_DB_USERNAME=nextcloud
NEXTCLOUD_DB_PASSWORD=
